USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateCurrency]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCurrency]
(
    @CurrencyRateID     INT,
    @ToCurrencyCode     NCHAR(3),
    @AverageRate        MONEY,
    @EndOfDayRate       MONEY,
    @CurrencyRateDate   DATE,
    @Name               NVARCHAR(50)
)
AS
BEGIN
    UPDATE dbo.Currency
    SET
        CurrencyCode   = @ToCurrencyCode,
        AverageRate      = @AverageRate,
        EndOfDayRate     = @EndOfDayRate,
        CurrencyRateDate = @CurrencyRateDate,
        Name             = @Name
    WHERE CurrencyID = @CurrencyRateID;
END
GO
