USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateSalesPerson]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[updateSalesPerson]
(
  @SalesPersonKey INT,
  @TerritoryID INT,
  @SalesQuota MONEY,
  @Bonus MONEY,
  @CommissionPct DECIMAL(8,4),
  @FirstName NVARCHAR(50),
  @LastName NVARCHAR(50)
)
AS
BEGIN
  UPDATE dbo.SalesPerson
  SET
    TerritoryID = @TerritoryID,
    SalesQuota = @SalesQuota,
    Bonus = @Bonus,
    CommissionPct = @CommissionPct,
    FirstName = @FirstName,
    LastName = @LastName
  WHERE BusinessEntityID = @SalesPersonKey;
END
GO
