USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateShipMethod]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[updateShipMethod]
(
  @ShipMethodKey INT,
  @Name NVARCHAR(50)
)
AS
BEGIN
  UPDATE dbo.ShipMethod
  SET
    Name = @Name
  WHERE ShipMethodID = @ShipMethodKey;
END
GO
