USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateProduct]
  @ProductID            int,
  @ProductSubcategoryID int = NULL,
  @Name                 nvarchar(100),
  @ProductNumber        nvarchar(25),
  @Color                nvarchar(30)  = NULL,
  @ListPrice            money         = NULL,
  @Size                 nvarchar(20)  = NULL,
  @Weight               decimal(18,2) = NULL,
  @SellEndDate          datetime      = NULL,
  @SellStartDate        datetime      = NULL,
  @StandardCost         money         = NULL,
  @ProductCategoryID    int           = NULL,
  @SubCategoryName      nvarchar(100) = NULL,
  @CategoryName         nvarchar(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Products
  SET
    ProductSubcategoryID = @ProductSubcategoryID,
    Name                 = @Name,
    ProductNumber        = @ProductNumber,
    Color                = @Color,
    ListPrice            = @ListPrice,
    Size                 = @Size,
    Weight               = @Weight,
    SellEndDate          = @SellEndDate,
    SellStartDate        = @SellStartDate,
    StandardCost         = @StandardCost,
    ProductCategoryID    = @ProductCategoryID,
    SubCategoryName      = @SubCategoryName,
    CategoryName         = @CategoryName
  WHERE ProductID = @ProductID;
END
GO
