USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateSales]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateSales]
(
    @SalesOrderDetailID INT,
    @SalesOrderID INT,
    @OrderDate DATETIME,
    @DueDate DATETIME,
    @ShipDate DATETIME,
    @Status INT,
    @OnlineOrderFlag BIT,
    @SalesOrderNumber NVARCHAR(25),
    @PurchaseOrderNumber NVARCHAR(25),
    @AccountNumber NVARCHAR(25),
    @CustomerID INT,
    @SalesPersonID INT,
    @TerritoryID INT,
    @ShipMethodID INT,
    @CurrencyRateID INT,
    @SubTotal MONEY,
    @TaxAmt MONEY,
    @Freight MONEY,
    @TotalDue MONEY,
    @CarrierTrackingNumber NVARCHAR(25),
    @OrderQty SMALLINT,
    @ProductID INT,
    @UnitPrice MONEY,
    @UnitPriceDiscount MONEY,
    @LineTotal MONEY
)
AS
BEGIN
    UPDATE dbo.Sales
    SET
        SalesOrderID = @SalesOrderID,
        OrderDate = @OrderDate,
        DueDate = @DueDate,
        ShipDate = @ShipDate,
        Status = @Status,
        OnlineOrderFlag = @OnlineOrderFlag,
        SalesOrderNumber = @SalesOrderNumber,
        PurchaseOrderNumber = @PurchaseOrderNumber,
        AccountNumber = @AccountNumber,
        CustomerID = @CustomerID,
        SalesPersonID = @SalesPersonID,
        TerritoryID = @TerritoryID,
        ShipMethodID = @ShipMethodID,
        CurrencyRateID = @CurrencyRateID,
        SubTotal = @SubTotal,
        TaxAmt = @TaxAmt,
        Freight = @Freight,
        TotalDue = @TotalDue,
        CarrierTrackingNumber = @CarrierTrackingNumber,
        OrderQty = @OrderQty,
        ProductID = @ProductID,
        UnitPrice = @UnitPrice,
        UnitPriceDiscount = @UnitPriceDiscount,
        LineTotal = @LineTotal
    WHERE SalesOrderDetailID = @SalesOrderDetailID;
END
GO
