USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateTerritory]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[updateTerritory]
(
  @TerritoryKey INT,
  @Name NVARCHAR(50),
  @CountryRegionCode NVARCHAR(3),
  @Group NVARCHAR(50)
)
AS
BEGIN
  UPDATE dbo.Territory
  SET
    Name = @Name,
    CountryRegionCode = @CountryRegionCode,
    [Group] = @Group
  WHERE TerritoryID = @TerritoryKey;
END
GO
