USE [AdventureWorksDW_Sales]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[BusinessEntityID] [int] NOT NULL,
	[SalesQuota] [money] NULL,
	[Bonus] [money] NULL,
	[CommissionPct] [money] NULL,
	[TerritoryID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
