USE [AdventureWorksDW_Sales]
GO
/****** Object:  View [dbo].[vwSalesDashboard]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwSalesDashboard] AS
SELECT
  s.SalesOrderDetailID,
  s.SalesOrderID,
  s.OrderDate,
  s.DueDate,
  s.ShipDate,
  s.OnlineOrderFlag,

  c.CustomerID,
  CONCAT(c.FirstName,' ',c.LastName) AS CustomerName,

  p.ProductID,
  p.Name AS ProductName,
  p.CategoryName,
  p.SubCategoryName,
  p.Color,
  p.Size,
  p.StandardCost,

  sp.BusinessEntityID AS SalesPersonID,
  CONCAT(sp.FirstName,' ',sp.LastName) AS SalesPersonName,
  sp.SalesQuota,
  sp.CommissionPct,

  t.TerritoryID,
  t.Name AS TerritoryName,
  t.CountryRegionCode,
  t.[Group] AS TerritoryGroup,

  sm.ShipMethodID,
  sm.Name AS ShipMethodName,

  s.OrderQty,
  s.UnitPrice,
  s.UnitPriceDiscount,
  s.LineTotal,
  s.SubTotal,
  s.TaxAmt,
  s.Freight,
  s.TotalDue

FROM dbo.Sales s
LEFT JOIN dbo.Customer c     ON c.CustomerID = s.CustomerID
LEFT JOIN dbo.Products p     ON p.ProductID = s.ProductID
LEFT JOIN dbo.SalesPerson sp ON sp.BusinessEntityID = s.SalesPersonID
LEFT JOIN dbo.Territory t    ON t.TerritoryID = s.TerritoryID
LEFT JOIN dbo.ShipMethod sm  ON sm.ShipMethodID = s.ShipMethodID;
GO
