USE [AdventureWorksDW_Sales]
GO
/****** Object:  StoredProcedure [dbo].[updateCustomer]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[updateCustomer]
(
  @CustomerID  INT,
  @PersonID    INT = NULL,
  @FirstName   NVARCHAR(50) = NULL,
  @LastName    NVARCHAR(50) = NULL
)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Customer
  SET
    PersonID      = @PersonID,
    FirstName     = @FirstName,
    LastName      = @LastName
  WHERE CustomerID = @CustomerID;
END
GO
