USE [AdventureWorksDW_Sales]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/16/2026 2:40:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductSubcategoryID] [int] NULL,
	[ProductID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ProductNumber] [nvarchar](25) NULL,
	[Color] [nvarchar](15) NULL,
	[ListPrice] [money] NULL,
	[Size] [nvarchar](5) NULL,
	[Weight] [numeric](8, 2) NULL,
	[SellEndDate] [datetime] NULL,
	[SellStartDate] [datetime] NULL,
	[StandardCost] [money] NULL,
	[ProductCategoryID] [int] NULL,
	[SubCategoryName] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
